<!-- feedback.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
        
    </style>
</head>
<body>

    <header>
        <div class="header-logo">
            <img src="/home/sumitra/opensource/heygauri/30f7f52d2f8f09918a279510ed00e6b5_CyberZen_05/images/logo.png" alt="Logo">
        </div>
        <div class="header-buttons">
            <a href="index.html">Home</a>
            <a href="about-us.html">About Us</a>
            <a href="contact-us.html">Contact Us</a>
            <a href="feedback.html">Feedback</a>
            <a href="login.html">Admin Login</a>
        </div>
    </header>

    <div class="container1 custom-container">
        <h1 class="mb-4">Admin Login</h1>
        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>

            <button type="submit" class="btn btn-primary">Login</button>
            <button type="submit" class="btn btn-primary" id="clearButton">Clear</button>
        </form>
    </div> 
    <div id="resultContainer" class="container2 mt-4" style="display: inline;">
        <h1>Successfully Logged in as Admin!</h1><br>

        <button type="submit" class="btn btn-secondry" id="">Website Analysis Data</button>
        <button type="submit" class="btn btn-secondry" id="">Feedback Data</button>
        <button type="submit" class="btn btn-secondry" id="">Admin users Data</button>
    </div>      

    <footer>
        <div class="footer-links">
            <p>This is a demo website</p>
        </div>
    </footer>
    

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="admin-login.js"></script></body>
</html>

