
<!-- feedback.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
        table {
            width: 120%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <header>
        <div class="header-logo">
            <img src="/home/sumitra/opensource/30f7f52d2f8f09918a279510ed00e6b5_CyberZen_05/images/rajasthan_police.jpeg" alt="Logo">
        </div>
        <div class="header-buttons">
            <a href="index.html">Home</a>
            <a href="about-us.html">About Us</a>
            <a href="contact-us.html">Contact Us</a>
            <a href="blog.html">Do's & Dont's</a>
            <a href="feedback.html">Feedback</a>
            <a href="admin-login.html">Admin Login</a>
            <a href="https://cybercrime.gov.in/" class="call-icon">&#9742; 1930</a>
        </div>
    </header>

    <div class="container1 custom-container">
        <h1 style="color: black;">Admin Information</h1>
        <div class="horizontal-container">
            <img class="background-image" src="/home/sumitra/opensource/heygauri/30f7f52d2f8f09918a279510ed00e6b5_CyberZen_05/images/background.png" alt="Background Image">
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>Admin Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sumitra Sharma</td>
                    <td>sumitraartsy@gmail.com</td>
                    <td>+91-9461534961</td>
                </tr>
                <tr>
                    <td>Payal Kaur</td>
                    <td>payalkaur006@gmail.com</td>
                    <td>+91-8219391255</td>
                </tr>
                <tr>
                    <td>Soumya Pandey</td>
                    <td>soumyaryan@gmail.com</td>
                    <td>+91-7974065293</td>
                </tr>
            </tbody>
        </table>
    </div>       

    <footer>
        <div class="footer-links">
            <p>This is a demo website</p>
        </div>
    </footer>
    

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
</html>

